<div class="deck">
    <ng-container [ngSwitch]="deckType">
        <ng-container *ngSwitchCase="'card'">
            <div class="deck_header">
                <h2 class="deck_title">Мои карты</h2>
                <a class="deck_link">Заказать карту</a>
            </div>

            <mat-card class="deck_card" >
                <div *ngIf="cards.length === 0">
                    <p class="deck_inscription">Нет доступных карт.</p>
                </div>
                <div *ngFor="let card of cards">
                    <app-card [cardType]="'bank'" [number]="card.number" [month]="card.month" [year]="card.year"></app-card>
                </div>
            </mat-card>
        </ng-container>

        <ng-container *ngSwitchCase="'account'">
            <div class="deck_header">
                <h2 class="deck_title">Мои счета</h2>
                <a class="deck_link">Заказать счет</a>
            </div>

          

            <mat-card class="deck_card">
                <div *ngIf="accounts.length === 0">
                    <p class="deck_inscription">Нет доступных счетов.</p>
                </div>
                <div *ngFor="let account of accounts">
                    <app-card [cardType]="'account'" [accountName]="account.name" [balance]="account.balance" [currency]="account.currency" [number]="account.number"></app-card>
                </div>
                
            </mat-card>
        </ng-container>
    </ng-container>
</div>
