<div class="card-order__header">
    <h2 class="card-order__title">Банковские карты</h2>
  </div>
  
  <div class="card-order__containers">
    <mat-card class="card-order__container">
      <mat-card-header>
        <mat-card-title>Подтверждаете ли Вы операцию</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <p>Заказ карты</p>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendData()">Подтверждаю</button>
      </mat-card-actions>
    </mat-card>
  </div>