.card-order {
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;
    color: #03053d; 
  }

  &__link {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    text-align: left;
    color: #03053d;
    text-decoration: underline;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 557px;
    height: 200px;
    border-radius: 20px;
    gap: 15px; 
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 887px;
    height: 168px;
    border-radius: 20px;
    background-color: #f6f7ff; 
    gap: 20px; 
  }
}