<div class="container">
  <h2 class="typography-text">Авторизация</h2>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="form">
        
        <mat-form-field appearance="fill">
          <mat-label>Логин</mat-label>
          <input type="text" id="username" formControlName="username" matInput />
          <mat-error *ngIf="_username?.invalid && _username?.touched">
              Введите логин
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input type="password" formControlName="password" matInput />
          <mat-error *ngIf="_password?.errors?.['required'] && _password?.touched">
              Введите пароль
          </mat-error>
          <mat-error *ngIf="_password?.errors?.['minLength'] && _password?.touched">
            Пароль должен быть длиной не менее 8 символов.
          </mat-error>
        </mat-form-field>      
        <button mat-raised-button color="primary" type="submit" [disabled]="!authForm.valid">Войти</button>
      </form>
      
</div>
