.container{
    color: #000;
    width: 528px;
    padding: 24px 80px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.form{
    display: flex;
    flex-direction: column;

}