.container {
    width: 100%;
    padding: 24px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100%; 
}

h1 {
    color: #314692; /* Синий цвет для заголовка первого уровня */
    font-size: 2.5em; /* Размер для первого заголовка */
    margin: 16px 0;
}

h2 {
    color: #314692; /* Синий цвет для заголовка второго уровня */
    font-size: 1.5em; /* Размер для второго заголовка */
    margin: 16px 0;
}

.action-button {
    width: 100%; /* Делает кнопки одинаковой ширины */
    max-width: 200px; /* Максимальная ширина кнопок */
    margin: 8px 0; /* Расстояние между кнопками */
}